.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: white;
  font-size: 16px;
  color: $darkGrey;
}

p, a {
  font-size: 16px;
}

p.dates {
  line-height: 1.4;
  margin-left: 20px;
  margin-right: 20px;
}

.location {
  font-weight: bold;
  color: $pink;
}

h1, h2, h3 {
  margin: 0 0 16px;
  color: $darkGrey;
  font-weight: normal;
}

h1 {
  font-size: 30px;
}

h1.title {
  font-size: 32px;
  margin: 0 0 25px;
}

h1.logo {
  font-family: 'Libre Baskerville', serif;
  font-family: 'Sorts Mill Goudy', serif;
  width: 305px;
  width: 380px;
  margin: 10px 0 5px;
  color: white;
  float: left;
  a {
    font-size: 30px;
  }
}

h2 {
  font-size: 25px;
  color: $headingGrey;
}

.classes h2 {
  padding-bottom: 10px;
}

.home {
  h2 {
    padding-bottom: 15px;
    border-bottom: 4px solid $pink;
  }
  h3 {
    color: $pink;
  }
}

h1.home.title {
  color: $pink;
}

.diet {
  h2 {
    padding-bottom: 15px;
    border-bottom: 4px solid $green;
  }
  h3 {
    color: $green;
  }
}

h1.diet.title {
  color: $green;
}

.program {
  h2 {
    padding-bottom: 15px;
    border-bottom: 4px solid $orange;
  }
  h3 {
    color: $orange;
  }
}

h1.program.title {
  color: $orange;
}

.kit {
  h2 {
    padding-bottom: 15px;
    border-bottom: 4px solid $lightGrey;
  }
  h3 {
    color: $lightGrey;
  }
}

h1.kit.title {
  color: $mediumLightGrey;
}

.research {
  h2 {
    padding-bottom: 15px;
    border-bottom: 4px solid $blue;
  }
  h3 {
    color: $blue;
  }
}

h1.research.title {
  color: $blue;
}

.faq {
  h2 {
    padding-bottom: 15px;
    border-bottom: 4px solid $gold;
  }
  h3{
    color: $gold;
  }
}

h1.faq.title {
  color: $gold;
}

h3 {
  font-size: 20px;
  margin: 16px 0 10px;
}

.bio {
  padding: 40px 0 50px;
  background: $lightestGrey;
  h3 {
    margin-bottom: 15px;
  }
}

a {
  color: $deepBlue;
  text-decoration: underline;
  &:hover {
  text-decoration: none;
  color: $deepBlue;
  }
}

.classes a {
  text-decoration: none;
}

.header a {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.white-background {
  /*background: white;*/
  /*padding: 20px;*/
  margin-bottom: 30px;
  /*border-radius: 6px;*/
  /*border: 1px solid $lightGrey;*/
}

.classes {
  padding: 20px 20px 2px;
  background: white;
  border: 1px solid $lightGrey;
  border-radius: 5px;
}

.container-fluid {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 500px;
}

ul.plain {
  list-style-type: none;
}

.supplement {
  background: white;
  padding: 50px 0;
}

.notice {
  p {
    color: white;
    font-size: 14px;
  }
  padding: 25px 0 20px;
}

td {
  padding: 4px 10px;
  border: 1px solid #ccc;
  &:first-child {
  text-align: right;
  }
}

.not-bold {
  font-weight: normal;
  text-align: right;
}

img {
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  background: white;
}

img.pull-left {
  margin-right: 12px;
}

.header {
  padding: 4px 0 6px;
  background: $deepBlue;
}

.footer {
  background: lighten($deepBlue, 7%)
}

.subfooter {
  background: $deepBlue;
  padding: 15px 0;
  p {
    color: #fff;
    margin: 0;
    white-space: nowrap;
  }
}

p.copy {
  text-align: center;
  margin-top: 5px;
}

p.to-top {
  text-align: right;
  a {
    padding: 2px;
    color: white;
    text-decoration: none;
    &:hover {
      color: $lightestGrey;
    }
  }
}

.glyphicon.glyphicon-circle-arrow-up {
  font-size: 30px;
}

.btn:focus {
  outline: none;
}

.btn {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: none;
}

.contact-button {
  height: 50px;
}

.contact-button {
  background: $gold;
  border: 1px solid darken($gold, 10%);
  &:hover {
    background: darken($gold, 10%);
    color: white;
  }
  &:active {
    background: $gold;
    color: white;
  }
}

.download-button {
  background: $orange;
  border: 1px solid darken($orange, 10%);
  &:hover, &:active, &:focus {
    background: darken($orange, 10%);
    color: white;
  }
}


.contact {
  padding: 20px 15px 10px;
  border: 1px solid $lightGrey;
  border-radius: 5px;
  max-width: 440px;
}

/* Responsive video */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  width: 1000px;
  max-width: 100%;
  margin: 22px auto 0;
}
