label {
  font-weight: normal;
}

form {
  margin: 0 auto;
}

textarea,
input[type="text"],
input[type="email"],
button[type="submit"] {
  margin-bottom: 20px;
}

.error p {
  margin-top: -5px;
  color: $pink;
  background: lighten($pink, 45%);
  padding: 5px 15px;
  border-radius: 5px;
}

.message {
  margin-bottom: 20px;
}

.message p {
  color: white;
  background: darken($green, 15%);
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
}

.form-control {
  font-size: 16px;
}

.contact .btn:focus {
  color: white;
}

#contact h1 {
  font-size: 20px;
  color: $green;
}
