@media screen and (max-width: 991px) {
  h1.logo {
    width: 100%;
    float: none;
    padding: 0;
    text-align: center;
  }

  h1, h2, h3 {
    font-weight: normal;
  }

  .menu {
    float: none;
    margin: 8px auto;
  }
}

@media screen and (max-width: 767px) {
  p.copy {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  h1.logo {
    margin: 4px 0;
  }

  .menu-left,
  .menu-right {
    float: none;
    margin: 0 auto;
  }

  .menu {
    width: 100%;
  }

  .nav {
    margin: 0;
  }

  .menu-left {
    margin-bottom: 0;
  }

  .header {
    margin: 0;
  }

  h1 img {
    display: none;
  }
}

@media screen and (max-width: 400px) {

  h1.title {
    font-size: 26px;
  }

  h1.logo a {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  .bio {
    padding: 20px 0;
  }

  p.copy {
    font-size: 14px;
    margin-top: 7px;
  }
}

/*@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

  a, p, ol, ul {
    font-size: 19px;
  }
  p.copy {
    font-size: 15px;
  }
}
*/
