@media screen and (max-width: 1000px) {
  h1.logo {
    width: 100%;
    float: none;
    padding: 0;
    text-align: center;
  }

  .menu {
    float: none;
    margin: 6px auto 3px;
  }
}

@media screen and (max-width: 767px) {
  h1.logo {
    margin: 0 0 16px 0;
  }

  .menu-left,
  .menu-right {
    float: none;
    margin: 0 auto;
  }

  .menu {
    width: 100%;
  }

  .nav {
    margin: 0;
  }

  .menu-left {
    margin-bottom: 0;
  }

  .header {
    margin: 0;
  }
}

@media screen and (max-width: 638px) {



 
}

@media screen and (max-width: 400px) {

  h1.title {
    text-align: center;
  }

  .container-fluid {
    margin-left: 0;
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
  
  a {
    font-size: 19px;
  }
  
  p {
    font-size: 19px;
  }
}
