.nav > li > a {
  color: #fff;
  padding: 6px 8px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 3px;
  &:hover {
    background: $teal;
  }
  &:focus {
    background: none;
  }
}

a.home-button {
  background: $pink;
}

.nav > li > a:hover.home-button {
  background: darken($pink, 10%);
}

.nav > li > a:active.home-button,
.nav > li > a:focus.home-button {
  background: $pink;
}

a.faq-button {
  background: $gold;
}

.nav > li > a:hover.faq-button {
  background: darken($gold, 10%);
}

.nav > li > a:active.faq-button,
.nav > li > a:focus.faq-button {
  background: $gold;
}

a.kit-button {
  background: $lightGrey;
}

.nav > li > a:hover.kit-button {
  background: darken($lightGrey, 10%);
}

.nav > li > a:active.kit-button,
.nav > li > a:focus.kit-button {
  background: $lightGrey;
}

a.diet-button {
  background: $gold;
}

.nav > li > a:hover.diet-button {
  background: darken($gold, 10%);
}

.nav > li > a:active.diet-button,
.nav > li > a:focus.diet-button {
  background: $gold;
}

a.program-button {
  background: $blue;
}

.nav > li > a:hover.program-button {
  background: darken($blue, 10%);
}

.nav > li > a:active.program-button,
.nav > li > a:focus.program-button {
  background: $blue;
}

a.research-button {
  background: $orange;
}

.nav > li > a:hover.research-button {
  background: darken($orange, 10%);
}

.nav > li > a:active.research-button,
.nav > li > a:focus.research-button {
  background: $orange;
}

.menu-contact-button {
  .btn:hover, .btn:visited, .btn:active, .btn:focus {
    color: white;
  }
}

.menu-contact-button {
  padding: 0 5px;
  button {
    background: $green;
    cursor: pointer;
    &:hover {
      background: darken($green, 10%);
    }
    &:active {
      background: $green;
    }
    &:focus {
      background: $green;
    }
  }
}

.nav-pills > li + li {
  margin-left: 0;
}

.nav {
  margin-top: 10px;
}

.nav-pills > li {
  margin-bottom: 8px;
}

.nav > li > a {
  width: 130px;
  text-align: center;
  margin: 0 5px;
}

.menu-left {
  width: 280px;
  float: left;
}

.menu-right {
  width: 280px;
  float: right;
}

.menu {
  width: 560px;
  float: right;
}
