$lightestGrey: #DBDBDB;
$red: #C63D0F;
$orange: #F37F2E;
$green: #6C9F50;
$pink: #B33E6A;
$blue: #4066B6;
$lightGrey: #8E8E8E;
$mediumGrey: #534D4F;
$darkGrey: #3B3738;
$gold: #DAC45B;
$teal: #44A1B2;