<div ng-controller="ContactFormController" class="white-background">
  <div ng-controller="ContactFormController" id="contact">
    <form class="form-horizontal" name="contactform" novalidate>
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        ng-model="contact.name"
        id="name"
        name="name"
        placeholder="Your name"
        required>
      <div class="error" ng-show="contactform.name.$dirty && contactform.name.$invalid">
        <p ng-show="contactform.name.$error.required">
            Please input your name.
        </p>
      </div>
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        ng-model="contact.email"
        id="email"
        name="email"
        placeholder="Your email address"
        ng-focus
        required>
      <div class="error" ng-show="contactform.email.$dirty && contactform.email.$invalid && !contactform.email.$focused">
        <p ng-show="contactform.email.$error.email">
            Please input a valid email.
        </p>
        <p ng-show="contactform.email.$error.required">
            Please input your email.
        </p>
      </div>
      <label for="message">Message</label>
      <textarea
        rows="6"
        class="form-control"
        ng-model="contact.message"
        id="message"
        name="message"
        placeholder="Please input a brief message."
        ng-maxlength=349
        ng-focus
        required>
      </textarea>
      <div ng-hide="submitted">                   
        <button
          ng-disabled="contactform.$invalid"
          type="submit"
          class="btn btn-block contact-button"
          ng-click="submit()">Get a free consultation</button>
      </div>
    </form>
  </div>
</div>
