<div class="row">
  <div class="col-sm-8">
    <h1 class="contact title">FAQ</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <div ng-controller="ContactFormController" class="contact white-background">
      <h2>Frequently Asked Questions</h2>
      <div ng-controller="ContactFormController" id="contact">
        <p>Q. Will the diet cure my cancer?</p>
        <p>A. No one can answer that. There is enough evidence to make a trial of the KGD worthwhile for many people.
        <p>Q. What if my physician will not support me?</p>
        <p>A. Please find one who will. Physician involvement is required for your safety and you cannot enroll without it.</p>
        <p>Q. Is this a research study?</p>
        <p>A. No. But data will be collected and potentially published. By signing the release of liability form, you are also allowing Ketogenic Therapies, LLC and Denise Potter to use any data collected during your enrollment for research purposes.</p>
        <p>Q. Can I use this program for the treatment of other Neurological disorders?</p>
        <p>A. This will be considered on a case-by-case basis.  Please contact us for further information.</p>
        <p>Q. Can I use the KGD for weight loss?</p>
        <p>A. You could, but it is not recommended. The KGD is not a balanced diet, nor is it considered to be “healthy”.  It is a medical therapy that is used to treat numerous diseases. While it is possible to lose weight this way, there is a high probability that you will regain any weight lost once you resume your previous diet.</p>
        <p>Q. Why are all of the fees due near the beginning?</p>
        <p>A. The fee schedule is set up to reflect the RD involvement. A bulk of the hours are spent in preparation and initiation of the KGD.</p>
        <p>Q. Why is the program so expensive/cheap?</p>
        <p>A. It is anticipated that the RD (Registered Dietitian) will spend up to 30 hours working directly with each patient, their physician, or their case over the course of 6 months. Fair wages for a RD consultant are $100-$200/hour.</p>
        <p>Q. Will insurance cover this program?</p>
        <p>A. No. Your health insurance carrier will not pay for an experimental treatment.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="classes" ng-include="'views/classes.html'"></div>
  </div>
</div>