<div class="row">
  <div class="col-sm-8">
    <h1 class="diet title">The Ketogenic Diet (KGD)</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8"> 
    <div class="diet white-background">
      <h2>High fat/low carb/moderate protein</h2>
      <p>In order to maintain a ketogenic state, you must eat a very high fat, very low carbohydrate diet. The Recommended Dietary Allowance (RDA) is used as a guideline for protein needs.</p>
      <h3>Supplements are necessary</h3>
      <p>The KGD is not a “healthy” diet. It is a Medical Nutrition Therapy. During the course of the diet patients will be required to take vitamin/mineral, calcium, phosphorus, and potassium supplements. Other supplements will be recommended as deemed necessary by blood work (ie. Vitamin D, zinc, selenium, iron).</p>
      <h3>All foods are weighed</h3>
      <p>In order to follow the KGD effectively, all foods must be weighed at each meal. The diet is prescribed by “ratios”, which describe the amount of fat given in comparison to the amount of carbohydrate and protein given. For example:</p>
      <p><strong>2:1 Ketogenic Diet&nbsp;&nbsp;=&nbsp;&nbsp;2 grams fat : 1 gram (protein + carbohydrate)</strong></p>
      <p>The final ratio prescribed will be determined by blood ketone levels and tolerance to the diet. When following the KGD, 100% of each meal should be eaten in order to attain the full potential of the diet. Even the bowls should be scraped to get every last drop/gram of fat, which is why spatulas are included in the "<a to-top href="#!/kit">Keto Kit</a>”.</p>
      <h3>KetoCalculator.com is used for meal planning</h3>
      <p>While following the KGD, each meal will be pre-planned on <a href="http://ketocalculator.com">KetoCalculator.com</a>. Patients will be trained to use this website, and meals will be monitored by the dietitian. The database on the KetoCalculator program is quite extensive. Foods that are not on the website can be added to the database by the dietitian.</p>
      <h3>Avoid extra carbohydrates</h3>
      <p>While following the KGD, patients should take care to avoid any extra sources of carbohydrate in foods, or personal care products. The Charlie Foundation has an excellent resource list that is updated several times each year.  Please refer to <a href="http://www.charliefoundation.org/resources-tools/resources-3/low-carb">this list</a> for specific product recommendations while on the KGD.</p>
      <h3>Compliance is critical</h3> 
      <p>If the many details of the KGD are overwhelming, you may have an appreciation as to why the diet must be attempted under the care of a dietitian that is experienced in administering the KGD. This diet is not to be undertaken lightly. If it is done halfheartedly, it is unlikely that you will achieve the level of ketosis desired to potentially impact your cancer. 100% compliance is the goal.</p>

      <h3>Example meals</h3>
      <table>
        <thead>
          <tr>
            <th colspan="2">Omelette: Egg/Cheese/Bacon/Fruit</th>
          </tr>
          <tr>
            <th class="not-bold">grams</th>
            <th>&nbsp;</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>30</td>
            <td>Cream, 36%</td>
         	</tr>
         	<tr>
            <td>79</td>
            <td>Strawberries</td>
         	</tr>
         	<tr>
            <td>20</td>
            <td>Bacon, cooked crisp</td>
         	</tr>
         	<tr>
            <td>119</td>
            <td>Egg (raw, mixed well)</td>
         	</tr>
         	<tr>
            <td>25</td>
            <td>Cheddar Cheese</td>
         	</tr>
        </tbody>
      </table>​
      <table>
        <thead>
          <tr>
            <th colspan="2">Salmon with Vegetables</th>
          </tr>
          <tr>
            <th class="not-bold">grams</th>
            <th>&nbsp;</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>18</td>
            <td>Cream, 36%</td>
         	</tr>
         	<tr>
            <td>125</td>
            <td>Green beans</td>
         	</tr>
         	<tr>
            <td>111</td>
            <td>Fish, Salmon, coho- cooked</td>
         	</tr>
         	<tr>
            <td>34</td>
            <td>Butter</td>
         	</tr>
        </tbody>
      </table>​
    </div>
  </div>
  <div class="col-sm-4">
    <div class="classes" ng-include="'views/classes.html'"></div>
  </div>
</div>