<h1 class="diet title"><img src="../svg-images/fried_egg.svg" alt="fried egg icon made by twitter.com and provided by www.flaticon.com">The Diet</h1>
<div class="diet white-background">
  <h2>The Ketogenic Diet is very high in fat.</h2>
  <p>Consequently, it is low in carbohydrate. Protein is kept at an acceptable level, generally the RDA’s (Recommended Dietary Allowances) for the patient’s age/weight. The KD is not a “healthy” diet, it is Nutrition Therapy. During the course of the diet patients will be required to take vitamin/mineral, calcium, and potassium supplements. Other supplements will be recommended as deemed necessary.</p>
  <p>The diet is prescribed by “ratios”, which describe the amount of fat given in comparison to the amount of carbohydrate and protein given. For example:</p>
  <p><strong>2:1 KD&nbsp;&nbsp;=&nbsp;&nbsp;2 grams fat : 1 gram (protein + carbohydrate)</strong></p>
  <p>The final ratio prescribed will be determined by blood ketone levels and tolerance to the diet.</p>
  <p>While following the KD, each meal will be pre-planned on <a href="http://ketodietcalculator.org">Ketodietcalculator.org</a>. Patients will be trained to use this website, and meals will be monitored by the dietitian.</p>
  <h3>The Registered Dietitian will assist you with:</h3>
  <ul>
    <li>Meal planning</li>
    <li>Ratio determination</li>
    <li>Caloric needs</li>
    <li>Supplementation</li>
    <li>Side effects</li>
    <li>Compliance issues</li>
    <li>Blood ketone monitoring.</li>
  </ul>
</div>
