<p>Q. Will the diet cure my cancer?</p>
<p>A. No one can answer that. There is enough evidence to make a trial of the KGD worthwhile for many people.
<p>Q. What if my physician will not support me?</p>
<p>A. Please find one who will. Physician involvement is required for your safety and you cannot enroll without it.</p>
<p>Q. Is this a research study?</p>
<p>A. No. But data will be collected and potentially published. By signing the release of liability form, you are also allowing Ketogenic Therapies, LLC and Denise Potter to use any data collected during your enrollment for research purposes.</p>
<p>Q. Can I use the KGD for weight loss?</p>
<p>A. You could, but I do not recommend it. The KGD is not a balanced diet, nor is it considered to be “healthy”.  It is a medical therapy that is used to treat numerous diseases. While it is possible to lose weight this way, there is an extremely high probability that you will regain any weight lost once you resume your previous diet.</p>
<p>Q. Why are all of the fees due near the beginning?</p>
<p>A. The fee schedule is set up to reflect the RDN involvement. A bulk of the hours are spent in preparation and initiation of the KGD.</p>
<p>Q. Why is the program so expensive/cheap?</p>
<p>A. It is anticipated that the RDN (Registered Dietitian Nutritionist) will spend up to 30 hours working directly with each patient, their physician, or their case over the course of 1 year. Fair wages for a RDN consultant are $100-$200/hour.</p>
<p>Q. Will insurance cover this program?</p>
<p>A. No. Your health insurance carrier will not pay for an experimental treatment.</p>