<div class="col-xs-12 add-left-margin">
	<h3>Denise Potter RD, CSP, CDE</h3>
</div>
<div class="col-sm-6">
	<img class="pull-left" src="images/denise.jpg">
	<p>Denise has been a Registered Dietitian for 24 years.  She has been administering the Ketogenic Diet to children with epilepsy and other conditions at the University of Michigan CS Mott Children's Hospital for 7 years.  Prior to her interest in the Ketogenic Diet, she specialized in Diabetes Education.  She has been a CDE (Certified Diabetes Educator) for 17 years.</p>
</div>
<div class="col-sm-5">
	<p>Most recently she attained the CSP credential (Certified Specialist in Pediatrics).</p>
	<p>Denise received her BS in Dietetics from Michigan State University and completed her Dietetic Internship at the University of Arkansas for Medical Sciences.</p>
</div>
