<div class="home white-background">
  <h1 class="home title">Specializing in the Ketogenic Diet</h1>
  <h2>A dietary approach for the treatment of:</h2>
  <ul>
    <li>Epilepsy</li>
    <li>Metabolic Disease<sup>*</sup></li>
    <li>Alzheimer's Disease<sup>*</sup></li>
    <li>Autism<sup>*</sup></li>
    <li>Lou Gehrig's Disease (ALS)<sup>*</sup></li>
    <li>Parkinson's Disease<sup>*</sup></li>
    <li>Migraine Headaches<sup>*</sup></li>
  </ul>
  <h3>What we do:</h3>
  <div class="grey-box clearfix">
    <p>Provide personalized Ketogenic Medical Nutrition Therapy via <strong>individual consults or 1, 2 or 3-month, medically monitored</strong> <a to-top href="/program">Ketogenic Diet Programs</a>.</p>
  </div>
  <h3>Core values:</h3>
  <div class="grey-box">
    <ul>
      <li>Provide personalized Medical Nutrition Therapy</li>
      <li>Provide client-centered counseling and education</li>
      <li>Expand therapy to underserved populations (USA and abroad)</li>
    </ul>
  </div>
  <h3>Testimonials:</h3>
  <p class="testimonial">"I couldn’t have done it without you. With the help of your knowledge, experience and patience, I was able to face this challenge and apply myself.  I want to express my most sincere and utmost gratitude for your support, insight and commitment in this journey."  ~ J</p>
  <p class="testimonial light">"…last year she couldn’t go. We credit you and your expertise, suggestions and caring. She has been in full ketosis for the first time…thanks to your guidance. And she’s had the best stretch ever-no falls." ~ B</p>
  <p class="testimonial">"You are an answer to prayer and definitely sent to us by God.  I am grateful." ~ R</p>
  <p class="testimonial light">"I can't say enough thanks to you for what you taught me! I am grateful for your wonderful support!" ~ G</p>
  <p class="conditions"><sup>*</sup>&nbsp;The Ketogenic Diet is considered an experimental treatment for this condition.</p>
</div>
