<h1 class="title">Ketogenic diet program for cancer patients</h1>
<div class="white-background">
	<p>Ketogenic Therapies, LLC has been formed with the intention of offering cancer patients a one year, medically monitored <a href="#!/program">program</a> to follow for experimental cancer treatment. The program is run by a Registered Dietitian (RD) with 24 years of experience in nutrition and 7 years of experience with the Ketogenic Diet.</p>
	<p><a href="#!/diet">The Ketogenic Diet (KGD)</a> is a high fat, moderate protein, low carbohydrate diet. The diet is very concise and is most effective with very high compliance.</p>
	<p>A “<a href="#!/kit">Keto Kit</a>” will be provided to assist patients with all of the start-up equipment needed.</p>
	<p>If you or someone you love is interested in learning more about the KGD for cancer treatment, please fill out the contact form and you will receive a free 15-minute phone call from the dietitian to help you understand the program.</p> 

	<h3>How do I sign up?</h3>
	<ol>
		<li>Fill out the contact form and schedule your free 15 minute informational call.</li>
		<li>Discuss the Ketogenic Diet with your physician.</li>
		<li>Send the referral form and diet description to your physician.</li>
		<li>Schedule your initial diet overview consultation call.</li>
		<li>Accurately track your food and fluid intake for 3 days on <a href="http://www.livestrong.com/myplate/">www.livestrong.com/myplate</a> or a similar website and email to your dietician.</li>
		<li>Once physician referral has been returned, schedule class or individual session.  In person education is desired, but Skype is available for long-distance participants.</li>
		<li>Get your fasting lab work done and results emailed to the dietician as soon as possible.</li>
		<li>Review <a href="http://www.charliefoundation.org">www.charliefoundation.org</a> for additional information about the KGD.</li>
	</ol>
</div>