<div class="row">
	<div class="col-sm-8">
		<h1 class="title">Ketogenic diet program for cancer patients</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">	
		<div class="home white-background">
			<h2>An experimental dietary approach to treating cancer</h2>
			<p>Ketogenic Therapies, LLC provides a 6-month, medically monitored <a href="#!/program">ketogenic diet program</a> for cancer patients. The program is run by a Registered Dietitian (RD) with 24 years of experience in nutrition and 7 years with the Ketogenic Diet.</p>
			<h3>A high fat, low carbohydrate diet</h3>
			<p><a href="#!/diet">The Ketogenic Diet (KGD)</a> is a high fat, moderate protein, low carbohydrate diet which is thought to starve cancer cells by depriving them of glucose. The diet is very concise and is most effective with very high compliance.</p>
			<h3>Keto kit included</h3>
			<p>A “<a href="#!/kit">Keto Kit</a>” will be provided to assist patients with all of the start-up equipment needed.</p>
			<h3>Contact the dietician for more information</h3>
			<p>If you or someone you love is interested in learning more about the KGD for cancer treatment, please fill out the <a href="#!/contact">contact form</a> and you will receive a free 15-minute phone call from the dietitian to help you understand the program.</p>
			<h3>Research is ongoing</h3>
			<p>Find out where to find more information about research on ketogenic diets for cancer treatment on our <a href="#!/research">research</a> page.</p>
			<div class="video-wrapper">
				<div class="video-container">
					<iframe width="560" height="315" src="//www.youtube.com/embed/3fM9o72ykww?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
	  <div class="classes" ng-include="'views/classes.html'"></div>
	</div>
</div>