<div class="row">
	<div class="col-sm-8">
		<h1 class="title" >Ketogenic Diet Kit</h1>
	</div>
</div>
<div class="row">	
	<div class="col-sm-8">
		<div class="kit white-background">
			<h2>Everything you need to get started</h2>
			<p>Each program participant will receive a keto kit to get them off to a good start on the program. The kit includes the following:</p>
			<ul>
				<li>Precision Xtra Meter</li>
				<li>Precision Xtra blood ketone test strips (30)</li>
				<li>Precision Xtra blood glucose test strips (60)</li>
				<li>Gram scale</li>
				<li>Pinch bowls</li>
				<li>Mini spatulas</li>
				<li>KetoCal 4:1 Liquid</li>
				<li>KetoCal 4:1 Powder</li>
				<li>KetoCal 3:1 Powder</li>
				<li>Ketogenic Therapies Tote bag</li>
			</ul>
			<p><em>Cost of the kit is offset by product donations from Abbott Diabetes Care and Nutricia North America.</em></p>
			<img src="http://placehold.it/500x250">
		</div>
	</div>
	<div class="col-sm-4">
	  <div class="classes" ng-include="'views/classes.html'"></div>
	</div>
</div>