<div class="menu-left clearfix">
	<ul class="nav nav-pills">
		<li><a class="home-button" ng-href="#!/">Home</a></li>
		<li><a class="diet-button" ng-href="#!/diet">The Diet</a></li>
		<li><a class="program-button" ng-href="#!/program">Program</a></li>
	</ul>
</div>
<div class="menu-right clearfix">
	<ul class="nav nav-pills">
		<li><a class="kit-button" ng-href="#!/kit">Kit</a></li>
		<li><a class="research-button" ng-href="#!/research">Research</a></li>
		<li><a class="contact-button" ng-href="#!/contact">Contact</a></li>
	</ul>
</div>
