<div class="row">
	<div class="col-sm-8">
		<h1 class="program title">Program</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="program white-background">
			<h2>Programs/services available</h2>
			<p>Contact us for a free 15 minute phone consultation for general information. If you wish to discuss your case further, there is an initial phone consultation for up to 45 minutes for a fee of $100.  This is applied to the program fee if enrolled. (Note: all phone/email consultations and classes are with a Registered Dietitian.)</p>
			<h3>The 6-month program includes:</h3>
			<ul>
				<li>Physician contact (by RD)</li>
				<li>Dietary intake evaluation</li>
				<li>Ratio determination</li>
				<li>Needs assessment: Calorie, nutrient, and fluid requirements</li>
				<li>History and Physical Review</li>
				<li>Lab review at 3 days, 7 days, 14 days, monthly and quarterly as described</li>
				<li>Group or individual instruction class, which includes:
					<ul>
						<li>KetoCalculator training</li>
						<li>Scale training</li>
						<li>Glucose/ketone meter training</li>
						<li>Diet overview</li>
						<li>Meal planning and schedule</li>
					</ul>
				</li>
				<li>Menu assistance</li>
				<li>Daily phone/email contact during diet initiation (7-10 days)</li>
				<li>15-30 minute phone contact and 2 emails/week for weeks 2-6</li>
				<li>30-60 minute monthly follow-up calls and 1 email/week for months 2-6</li>
				<li>Monthly progress reports to your physician</li>
				<li><a to-top href="#!/kit">Keto Kit</a></li>
			</ul>
			<h3>Monthly monitoring:</h3>
			<ul>
				<li>For program participants only</li>
				<li>After completion of 6 month program</li>
				<li>30-60 minute phone follow-up</li>
				<li>2 emails per week</li>
				<li>Lab review as needed (generally every 3 months)</li>
				<li>Monthly progress report to your physician</li>
			</ul>
			<h3>Phone consultation:</h3>
			<ul class="plain">
				<li>*45 minute call</li>
			</ul>
			<h3>Introductory fees:</h3>
			<ul class="plain">
				<li>6-month Individual: $3150</li>
				<li>6-month Group Class (3-6 patients): Discounted by $100</li>
				<li>6-month Group Class (7-12 patients): Discounted by $200</li>
				<li>Monthly Monitoring: $100/month</li>
				<li>Non-program phone consults, 45 minutes: $100</li>
			</ul>
			<h3>Program fee payment schedule:</h3>
			<ul class="plain">	
				<li>$100 before initial consult</li>
				<li>$1050 to sign up for class/individual instruction</li>
				<li>$1000 at diet initiation</li>
				<li>$1000 one month after diet initiation</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-4">
	  <div class="classes" ng-include="'views/classes.html'"></div>
	</div>
</div>	
