<div class="program white-background">
  <h1 class="program title"><img src="../svg-images/broccoli.svg" alt="broccoli icon made by twitter.com and provided by www.flaticon.com">Program</h1>
  <h2>Programs/services available</h2>

  <p><a to-contact href="" title="Go to contact form">Contact us</a> for a free 30 minute phone consultation for general information. All phone and email consultations are with a Registered Dietitian.</p>
  <h3>3 Month Program includes:</h3>
  <ul>
    <li>Initial assessment</li>
    <li>Ketogenic Diet Instruction:
      <ul>
        <li>Meal planning and schedule</li>
        <li>Ketodietcalculator training</li>
        <li>Scale and meter training</li>
      </ul>
    </li>
    <li>Daily phone/email contact during diet initiation (7-10 days)
    <li>Weekly phone call and daily email as needed for weeks 2-4
    <li>Monthly follow-up calls and 1-2 emails/week for months 2-3
  </ul>
  <h3>1 Month Program (for those already on a Ketogenic Diet):</h3>
  <ul>
    <li>Evaluation of current Ketogenic Diet</li>
    <li>Glucose/ketone monitoring
    <li>Weekly phone contact
    <li>Email support
  </ul>
  <h3>Monthly monitoring for program participants:</h3>
  <ul>
    <li>After completion of 3-month program</li>
    <li>30-60 minute phone follow-up</li>
    <li>2 emails per week</li>
    <li>Lab review as needed</li>
  </ul>
  <h3>Phone consultation:</h3>
  <ul class="plain">
    <li>60 minute call</li>
  </ul>
  <h3>Fees:</h3>
  <ul class="plain">
    <li>3 Month Ketogenic Diet Initiation: $1550</li>
    <li>1 Month Ketogenic Diet Program: $700</li>
    <li>Monthly Monitoring: $100/month</li>
    <li>Non-program phone consults, 60 minutes: $175</li>
  </ul>
</div>
