<h1 class="title">Program</h1>
<div class="white-background">
	<p>Contact us for a free 15 minute phone consultation for general information. If you wish to discuss your case further, there is an initial phone consultation for up to 45 minutes for a fee of $100.  This is applied to the program fee if enrolled. (Note: all phone/email consultations and classes are with a Registered Dietician.)</p>
	<h3>The program includes:</h3>
	<ul>
		<li>Physician contact (by RD)</li>
		<li>Dietary intake evaluation</li>
		<li>Ratio determination</li>
		<li>Needs assessment: Calorie, nutrient, and fluid requirements</li>
		<li>History and Physical Review</li>
		<li>Lab review at 3 days, 7 days, 14 days, monthly and quarterly as described</li>
		<li>Group or individual instruction classes, which include:
			<ul>
				<li>Ketocalculator training</li>
				<li>Scale training</li>
				<li>Glucose/ketone meter training</li>
				<li>Diet overview</li>
				<li>Meal planning and schedule</li>
			</ul>
		</li>
		<li>Menu assistance</li>
		<li>Daily phone/email contact during diet initiation (7-10 days)</li>
		<li>15-30 minute phone contact and 2 emails/week for weeks 2-6</li>
		<li>30-60 minute monthly follow-up calls and 1 email/week for months 2-6</li>
		<li>30-60 minute phone follow-up at months 9 and 12 and 3 emails/month for months 7-12</li>
		<li>Lab review at months 9 and 12</li>
		<li>Monthly progress reports to your physician</li>
		<li><a href="#!/kit">Keto Kit</a></li>
	</ul>
	<h3>Fees:</h3>
	<ul class="plain">
		<li>Individual: $3150</li>
		<li>Group Class (3-6 patients): Discounted by $100</li>
		<li>Group Class (7-12 patients): Discounted by $200</li>
		<li>Non-program phone consults, 45 minutes: $100</li>
	</ul>
	<h3>Fee payment schedule:</h3>
	<ul class="plain">	
		<li>$100 before initial consult</li>
		<li>$1050 to sign up for class/individual instruction</li>
		<li>$1000 at diet initiation</li>
		<li>$1000 one month after diet initiation</li>
	</ul>
</div>
