<h1 class="title">Research</h1>
<div class="white-background">
	<h2 class="research">There are over 11 recent research studies</h2>
	<p>There has been mounting evidence over recent years that the Ketogenic Diet (KGD) may have some beneficial effect on cancer. There are 11 research studies either ongoing, or taking participants, attempting to determine the effectiveness of the KGD for cancer treatment (see <a href="http://www.charliefoundation.org/discover-therapy-for/discover-2/brain-tumor-cancer">www.charliefoundation.org</a>).
</div>