<h3>How do I sign up?</h3>
<ol>
	<li>Fill out the contact form and schedule your free 15 minute informational call.</li>
	<li>Discuss the Ketogenic Diet with your physician.</li>
	<li>Send the referral form and diet description to your physician.</li>
	<li>Schedule your initial diet overview consultation call.</li>
	<li>Accurately track your food and fluid intake for 3 days on <a href="http://www.livestrong.com/myplate/">www.livestrong.com/myplate</a> or a similar website and email to your dietician.</li>
	<li>Once physician referral has been returned, schedule class or individual session.  In person education is desired, but Skype is available for long-distance participants.</li>
	<li>Get your fasting lab work done and results emailed to the dietician as soon as possible.</li>
	<li>Review <a href="http://www.charliefoundation.org">www.charliefoundation.org</a> for additional information about the KGD.</li>
</ol>